<!DOCTYPE html>
<html>
<head>
    <title>WebChat</title>
</head>
<body>
    <aside>
        <div id="manageRoomsDiv">
            <button>Create room</button>
            <button>Manage rooms</button>
        </div>

        <div id="onlineUsersDiv">
            <ul id="onlineUsersList">
                
            </ul>
        </div>

        <div id="settingsDiv">
            <button>Logout</button>
        </div>
    </aside>
    <div id="chatDiv">
        <div id="messageList">
            
        </div>
        <div id="inputDiv">
            <textarea class="autoExpand"></textarea>
        </div>
        <div id="roomTabsDiv">
            <ul id="roomTabsList">
                
            </ul>
        </div>
    </div>
</body>
</html>     
{% load static %}
<script type="text/javascript" src="{% static "WebChat/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "WebChat/js.cookie.js" %}"></script>
<script type="text/javascript">
    var followed_rooms = {{ followed_rooms|safe }};
    var url = "ws://" + window.location.host + "/chat/adrogo";
    console.log(url);
    socket = new WebSocket(url);
    socket.onopen = function(){
        socket.send("Test message");
    };

    socket.onmessage = function(event){
        jsonData = JSON.parse(event.data);
        console.log(jsonData);
        var sender = jsonData["sender"];
        var message = jsonData["content"];
        $newMessage = $("<il></il>");
        $newMessage.text(sender + ": " + message);
        $("#messageList").append($newMessage);
    }

    for(var i=0; i<followed_rooms.length; ++i){
        $elem = $("<li id=\"roomTabElement\"></li>");
        $elem.text(followed_rooms[i]);
        $elem.prop("index", i);
        $elem.on("click", function(){
            getOnlineUsers(followed_rooms[this.index], displayOnlineUsers)
        });
        $("#roomTabsList").append($elem);


    }

    function displayOnlineUsers(userList){
        $userList = $("#onlineUsersList");
        $userList.empty();
        for(var i = 0; i<userList["online_users"].length; ++i){
            $userElement = $("<ul></ul>");
            $userElement.text(userList["online_users"][i]);
            $userList.append($userElement);
        }
    }
    function getOnlineUsers(roomName, onSuccess){
        settings = {
            method : "GET",
            url : "/online_users/" + roomName + "/",
            success : function(data){
                onSuccess(deserialize(data));
            },
            statusCode : {
                404 : function(){
                    console.log("ERROR, ivalid room name");
                }
            }
        }
        $.ajax(settings);
    }

    function deserialize(data){
        return JSON.parse(data);
    }
</script>