<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

<!DOCTYPE html>
<html>
<head>
    <title>WebChat</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "WebChat/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "WebChat/home.css" %}">
</head>
<body>
    <aside class="col-xs-1 col-md-2 col-sm-3 left-column">
        <div id="manageRoomsDiv" class="centered-text">
            <button class="btn">Create room</button>
            <p></p>
            <button class="btn">Manage rooms</button>
        </div>

        <div id="onlineUsersDiv">
            <ul id="onlineUsersList" class="list-group">
            </ul>
        </div>

        <div id="settings-div" class="centered-text">
            <button class="btn" id="logout-button" onclick="logout()">Logout</button>
        </div>
    </aside>

    <div id="chatDiv" class="col-xs-11 col-md-10 col-sm-9">
        <div style="border:1px solid #ddd; border-width: 3px; margin-top: 5px; border-radius: 3px; border-bottom-left-radius:0px; flex: 1 1 auto; min-height:0px; display: flex; flex-direction: column;">
            <div class="message-list-wrapper">
            </div>
            <div id="input-div">
                <textarea class="auto-expand" style="width:100%" id="chat-input-box"></textarea>
            </div>
        </div>

        <div id="roomTabsDiv">
            <ul id="roomTabsList">
            </ul>
        </div>
    </div>
</body>
</html>
{% load static %}
<script type="text/javascript" src="{% static "WebChat/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "WebChat/js.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "WebChat/linkify.min.js" %}"></script>
<script type="text/javascript" src="{% static "WebChat/linkify-jquery.min.js" %}"></script>

<script type="text/javascript">
    /*
        messages - <li> class = message-list-element
        tab element - <li> class = room-tab-element <a>class = room-tab-label</a></li>

    */

    var followed_rooms = {{ followed_rooms|safe }};

    var chatThreads = [followed_rooms.length];
    for(var i=0; i<followed_rooms.length; ++i){
        chatThreads[i] = new chatThread(followed_rooms[i]);
    }
    var currentThread = chatThreads[0];
    chatThreads[0].setVisible(true);
    {% load static %}
    var NOTIFICATION_SOUND_OBJECT = new Audio("{% static "WebChat/alert.mp3"%}")
    var windowFocused = true;
    $(window).focus(function(){
        windowFocused = true;
        console.log("got focus");
        document.title = "WebChat";
    });
    $(window).blur(function(){
        windowFocused = false;
        console.log("lost focus");
    });

    function displayOnlineUsers(userList){
        $userList = $("#onlineUsersList");
        $userList.empty();
        for(var i = 0; i<userList.length; ++i){
            $userElement = $("<li class=\"list-group-item\"></li>");
            $userElement.text(userList[i]);
            $userList.append($userElement);
        }
    }
    // Send message function
    $("#chat-input-box").keypress(function(event){
        var code = event.keycode || event.which;
        if(code==13){
            if(!$(this).val().trim() == ""){
                currentThread.sendMessage($(this).val());
            }
            $(this).val("");
            event.preventDefault();
            event.stopPropagation();
        }else{
            if($(this).val().length > 140){
                event.preventDefault();
                event.stopPropagation();
                //TODO spawn a message
            }
        }
    })

    function getOnlineUsers(roomName, onSuccess){
        settings = {
            method : "GET",
            url : "/online_users/" + roomName + "/",
            success : function(data){
                console.log(data)
                onSuccess(JSON.parse(data)["online_users"]);
            },
            statusCode : {
                404 : function(){
                    console.log("ERROR, ivalid room name");
                }
            }
        }
        $.ajax(settings);
    }
    function setCurrentChat(chatThread){
        for(var i = 0; i < chatThreads.length; ++i){
            chatThreads[i].setVisible(false);
        }
        $(".room-tab-element").removeClass("active");
        chatThread.setVisible(true);
        currentThread = chatThread;
        currentThread.setScrollToBottom();
    }

    function notifyMessageArrival(){
        console.log("a message has arrived");
        // TODO: add a control to mute this sound
        NOTIFICATION_SOUND_OBJECT.play();
        document.title = "[ ! ] - WebChat";
    }

    $(".message-list-wrapper").scroll(function(){
        console.log($(this).scrollTop());
        if($(this).scrollTop() + $(this).height() > currentThread.$conversationDiv.height() - 100){
            // TODO check the scroll
        }
    });
    /* 
     * class: ChatThread
     * ChatThread is a class which handles every aspect of a chat room:
     *  - Message receiving and sending
     *  - Show online users
     *  - Show chat messages
     *  - Provide context switching for multiple room views
     *  - Draw graphic components relative to a chat room.
     *
     *  To create a ChatThread it is necessary to provide only the
     *  name of the room to connect to.
     *  A ChatThread also handles client logout.
    */
    function chatThread(roomName){
        var self = this;
        self.roomName = roomName; //Name of the room this thread refers to
        self.onlineUsersList = []; //List of online users
        self.visible = false; //Indicates wheater the thread is currently selected by the user

        /*
         * $conversationDiv is a jquery object representing a <div>
         * which contains all the messages from this specific chat room.
        */
        self.$conversationDiv = $("<ul></ul>");
        self.$conversationDiv.addClass("message-list-content");
        self.$conversationDiv.hide();
        $(".message-list-wrapper").append(self.$conversationDiv);

        //Target url for the websocket
        self.targetUrl = "ws://" + window.location.host + "/chat/" + roomName;
        self.websocket = new WebSocket(self.targetUrl);
        self.websocket.handler = self;

         // Callbacks for websocekt's events
        self.websocket.onopen = function(){
            console.log(roomName + " connected!");
        };
        
        self.websocket.onmessage = function(event){
            this.handler.messageReceived(event.data);
        };

        // Set the list of online users to the users parameter
        self.setOnlineUsersList = function(users){
            self.onlineUsersList = users;
            self.drawOnlineUsers();
        }

        self.removeOnlineUserFromList = function(username){
            self.onlineUsersList.remove(username);
        }

        self.addOnlineUserToList = function(username){
            self.onlineUsersList.push(username);
            self.onlineUsersList.sort();
        }

        self.reloadOnlineUsers = function(){
            getOnlineUsers(self.roomName, self.setOnlineUsersList);
        }
        self.drawOnlineUsers = function(){
            if(self.visible){
                displayOnlineUsers(self.onlineUsersList);
            }
        }

        //Create the html widget for this chat room.
        self.createRoomTab = function(){
            $elem = $("<li class=\"room-tab-element\"></li>");
            $innerText = $("<font class=\"room-tab-label\"></font>");
            $innerText.text(self.roomName);
            $elem.append($innerText);
            var thisInstance = self;
            $elem.on("click", function(){
                setCurrentChat(thisInstance);
            });
            self.$chatTabElement = $elem;
            $("#roomTabsList").append($elem);
        }

        //Function for message arrival handling
        self.messageReceived = function(data){
            //Handle the arrival of a new message
            jsonData = JSON.parse(data);
            console.log(jsonData);
            var type = jsonData["type"];
            var sender = jsonData["sender"];
            var message = jsonData["content"];
            if(type == 1){
                //A user has connected
                self.addOnlineUserToList(sender);
                self.drawOnlineUsers();
            }else if(type==2){
                //A user has disconnected
                self.removeOnlineUserFromList(sender);                
                self.drawOnlineUsers();
            }else if(type==3){
                //A user has sent a message
                self.appendMessage(sender, message);

            }
        }

        //Appends a message to the message list, creating its widget.
        self.appendMessage = function(sender, message){
            //Append a new message to the conversationDiv
            $newMessage = $("<li class='message-list-element'></li>");
            $senderTag = $("<font class='message-sender-font'></font>").text(sender + ": ");
            $message = $("<font class='message-text-font'></font>").text(message);
            
            // Use the linkify library to parse links and
            // make them clickable.
            // In the future we will be able to do a more
            // intelligent parsing and include media files
            // preview in the chat.
            $message.linkify();
            
            $newMessage.append($senderTag);
            $newMessage.append($message);
            self.$conversationDiv.append($newMessage);
            self.setScrollToBottom();
            if(!windowFocused){
                notifyMessageArrival();
            }
        }

        self.setScrollToBottom = function(){
            var scrollValue = self.$conversationDiv.height();
            $(".message-list-wrapper").scrollTop(scrollValue);
        }
        self.sendMessage = function(message){
            self.websocket.send(message);
        }

        self.disconnect = function(){
            self.websocket.close();
        }

        self.sendMessageHandler = function(domSender){
            var text = $(domSender).text();
            self.sendMessage(text);
        }
        self.setVisible = function(isVisible){
            self.visible = isVisible;
            if (isVisible){
                self.$conversationDiv.show();
                self.drawOnlineUsers();
                self.$chatTabElement.addClass("active");
            }else{
                self.$conversationDiv.hide();
            }
        }

        self.createRoomTab();
        self.reloadOnlineUsers();
    }

    function logout(soft){
        for(var i=0; i<chatThreads.length; ++i){
            chatThreads[i].disconnect();
        }
        if(!soft){
            window.location.href = "/logout/";
        }
    }

    $(window).on("unload", function(){
        logout(true);
    });

    Array.prototype.remove = function() {
        var what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };
</script>